@font-face {
  font-family: "Pragmatica-Light";
  src: url("../font/Pragmatica-Light.ttf");
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: "Pragmatica-Book";
  src: url("../font/Pragmatica-Book.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Pragmatica-Medium";
  src: url("../font/Pragmatica-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: "TTCommons-Regular";
  src: url("../font/TTCommons-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "TTCommons-DemiBold";
  src: url("../font/TTCommons-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "TTCommons-DemiBold";
  src: url("../font/TTCommons-DemiBold.ttf");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "TTCommons-Bold";
  src: url("../font/TTCommons-Bold.ttf");
  font-weight: 700;
  font-style: normal;
}