:root {
    --text-color-grey: #7E779A;
    --body-color-main: #373232;
}



@mixin border-radius {
    border-radius: 9px;
}

@mixin allcenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin img-cover {
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

@mixin img-contain {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

@mixin text-overflow {
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow-x: hidden;
    white-space: nowrap;
}

@mixin circle($size) {
    width: $size;
    height: $size;
    border-radius: 50%;
}

@mixin arr-r($width, $padding, $color) {
    border: solid $color;
    border-width: 0 $width $width 0;
    display: inline-block;
    padding: $padding;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

@mixin arr-l($width, $padding) {
    border: solid $color;
    border-width: 0 $width $width 0;
    display: inline-block;
    padding: $padding;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}

@mixin arr-up($width, $padding) {
    border: solid $color;
    border-width: 0 $width $width 0;
    display: inline-block;
    padding: $padding;
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}

@mixin arr-down($width, $padding) {
    border: solid $color;
    border-width: 0 $width $width 0;
    display: inline-block;
    padding: $padding;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

@mixin link ($base, $hover, $active) {
    a {
        color: $base;

        &:hover {
            color: $hover;
        }

        &:active {
            color: $active;
        }
    }
}

@mixin relative-before($w, $h, $l, $r, $t) {
    &::before {
        position: relative;
        display: inline-block;
        content: "";
        width: $w;
        height: $h;
        left: $l;
        right: $r;
        top: $t;
    }
}

@mixin relative-after($w, $h, $l, $r, $t) {
    &::before {
        position: relative;
        display: inline-block;
        content: "";
        width: $w;
        height: $h;
        left: $l;
        right: $r;
        top: $t;
    }
}


@mixin absolut-before($w, $h, $l , $r, $t) {
    position: relative;

    &::before {
        position: absolute;
        display: inline-block;
        content: "";
        width: $w;
        height: $h;
        left: $l;
        right: $r;
        top: $t;
    }
}

@mixin absolut-after($w, $h, $l, $r, $t) {
    position: relative;

    &::after {
        position: absolute;
        display: inline-block;
        content: "";
        width: $w;
        height: $h;
        left: $l;
        right: $r;
        top: $t;
    }
}


* {
    box-sizing: border-box;
    outline: none;
}

html {
    width: 100%;
    scrollbar-gutter: stable;
    scroll-behavior: smooth;
}

/* common importamt! */
body {
    width: 100%;
    margin: 0;
    background-color: #ffffff;
    overflow-x: hidden;

    font-family: "Pragmatica-Book";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: #333333;
}

/* common importamt! */

body.modal-open {
    overflow: hidden !important;
    scrollbar-gutter: stable;
}

ul {
    margin: 0;
    padding: 0;
}

ul li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

h1,
h2 {
    margin: 0;
}

a {
    text-decoration: none;
    outline: none;
    display: block;
    width: fit-content;
    cursor: pointer;
}

input {
    -webkit-appearance: none;
}

p {
    margin: 0;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

h1,
h2,
h3 {
    margin: 0;
}

/* common */

.container {
    width: 100%;
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 30px;
}

.section {
    padding: 115px 0;
}

.section__inner {
    margin-top: 44px;
}

.theme-back--base {
    background-color: #ffffff;
}

.theme-back--colored {
    background-color: #F6F4F9;
}

.rel {
    position: relative;
}

.d-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.al-center {
    align-items: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
}

.jc-sb {
    justify-content: space-between;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
}

.jc-center {
    justify-content: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
}

.jc-end {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.w-100 {
    width: 100%;
}

.btn {
    z-index: 2;
    background: linear-gradient(to right, #3F0F72 13.07%, #791281 85.2%);
    background-size: cover;
    border: 1px solid transparent;
    background-clip: padding-box;
    border-radius: 50px;
    padding: 22px 44px;
    width: fit-content;
    font-family: "TTCommons-DemiBold";
    font-size: 16px;
    font-weight: 600;
    line-height: 14px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #FFFFFF;
    text-transform: uppercase;
    cursor: pointer;
    position: relative;

    &:hover::before,
    &:hover::after {
        content: '';
        position: absolute;
        z-index: -1;
        left: 0;
        top: 0;
        bottom: 0;
        width: 30px;
        border: 2px solid #3F0F72;
        border-right: none;
        border-radius: 50px 0 0 50px;
    }

    &:hover::after {
        border: 2px solid #791281;
        border-left: none;
        left: auto;
        right: 0;
        border-radius: 0 50px 50px 0;
    }

    &:hover {
        background: transparent;
        background-image: linear-gradient(to right, #3F0F72, #791281), linear-gradient(to right, #3F0F72, #791281);
        background-size: 84% 2px;
        background-position: 26px 100%, 26px 0;
        background-repeat: no-repeat;
        background-clip: border-box;
        border-radius: 50px;
    }

    &.form__btn:hover {
        background-size: 78% 2px;
    }

}

.title {
    font-family: "TTCommons-Bold";
    font-size: 48px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    color: #333333;

}

.subtitle {
    margin-top: 13px;
    font-family: "Pragmatica-Light";
    font-size: 18px;
    font-weight: 300;
    line-height: 22px;
    text-align: center;
    color: #777777;
}

/*header*/
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    background: transparent;
    padding: 36px 0;
    overflow: hidden;
    -webkit-transition: .2s linear;
    -o-transition: .2s linear;
    transition: .2s linear;
}

.header-active {
    background-color: #180d44ed;
}

.logo {
    width: 138px;
}

.menu-wrap {
    width: fit-content;

    .menu-item {
        @include link(#FFFFFF, #7E779A, #7E779A);
    }

    .menu-item:not(:last-child) {
        margin-right: 60px;
    }

    .menu-item a {
        font-family: "TTCommons-DemiBold";
        font-size: 17px;
        font-weight: 500;
        line-height: 16px;
        color: #FFFFFF;
        padding: 10px 0;
    }
}

.nav-block__item a:active,
.nav-block__item a.active {
    color: #7E779A !important;
}


.header-contact-item {
    margin-right: 44px;
    padding-left: 28px;
    @include absolut-before(16px, 16px, 0, auto, -3px);

    a {
        font-family: "TTCommons-Regular";
        font-size: 17px;
        font-weight: 400;
        line-height: 14px;
        letter-spacing: 0.1em;
        text-align: left;
        color: #FFFFFF;
    }
}

.phone-wrap {
    &::before {
        background: url(../images/icons/phone.svg);
    }
}

.email-wrap {
    &::before {
        background: url(../images/icons/email.svg);
    }
}

/* burger*/
.header__burger {
    display: none;
}

/*section-top*/
.section-top {
    // height: 100vh;
    background: #180d44 url(../images/top-bg.png) center no-repeat;
    background-size: cover;
    padding-top: 106px;
}

.section-top__inner {
    padding: 100px 0 50px;
    max-width: 794px;
}

.section-top__info {
    font-family: "Pragmatica-Book";
    font-size: 18px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0.02em;
    margin-bottom: 16px;
    text-align: left;
    color: var(--text-color-grey);
}

.section-top__title {
    font-family: "TTCommons-Bold";
    font-size: 64px;
    font-weight: 700;
    line-height: 70px;
    color: #ffffff;
}

.section-top__btn {
    margin-top: 25px;
}

.section-top__bottom {
    padding: 44px 0;

    p {
        color: #ffffff;
        font-family: "TTCommons-Regular";
        font-size: 17px;
        font-weight: 400;
        line-height: 23.91px;
        margin-right: 22px;
    }

    img:not(:first-of-type) {
        margin-left: 16px;
    }
}

/*section-about*/
.col-50 {
    width: calc((100% - 30px) / 2);

    &:first-child {
        margin-right: 30px;
    }
}

.section-about__title.title {
    text-align: left;
}

.section-about__text {
    margin: 33px 0 37px;

    p:first-child {
        font-family: "Pragmatica-Medium";
        font-size: 20px;
        font-weight: 500;
        line-height: 44px;
        margin-bottom: 10px;
    }
}

.section-about__pic-wrap {
    img {
        @include border-radius;
        @include img-contain;
    }


}

/*section-services*/
.service-item {
    background-color: #ffffff;
    padding: 27px;
    @include border-radius;

    width: calc((100% - 120px) / 4);

    &:not(:nth-child(4n)) {
        margin-right: 30px;
    }

    &:nth-child(n+5) {
        margin-top: 30px;
    }

    .service-item__pic-wrap {
        @include circle(66px);
        background: linear-gradient(105.96deg, #3F0F72 13.07%, #791281 85.2%);
        margin-right: 17px;
    }

    .service-item__name {
        width: calc(100% - 66px - 17px);
        font-family: "Pragmatica-Medium";
        font-size: 15px;
        font-weight: 500;
        line-height: 22px;
    }
}

/*section-publications */
.publications-slide {
    @include border-radius;
    @include img-cover;

    img {
        border-radius: 9px 9px 0 0;
    }
}

.publications-slide__bottom-wrap {
    padding: 27px 20px 20px 30px;
    min-height: 242px;
    display: flex;
    flex-direction: column;
}

.publications-slide__title {
    font-family: "TTCommons-DemiBold";
    font-size: 22px;
    font-weight: 600;
    line-height: 24px;
    color: #333333;
}

.publications-slide__text {
    margin: 11px 0 26px;
    font-family: "Pragmatica-Light";
    font-size: 16px;
    font-weight: 300;
    line-height: 24px;
    color: #777777
}

.publications-slide__info {
    margin-top: auto;
    padding-top: 18px;
    border-top: 2px solid #EAE8EC;
}

.publications-slide__author-pic {
    max-width: 96px;
}

.publications-slide__date {
    padding-left: 23px;
    @include relative-before(16px, 16px, 0, auto, -2px);
    font-family: "TTCommons-DemiBold";
    font-size: 15px;
    font-weight: 500;
    line-height: 26.37px;
    color: #C4C4C4;

    &::before {
        background: url(../images/icons/date.svg);
        margin-right: 7px;
    }
}

/* swiper */

.swiper-button {
    background: url(../images/icons/arrow-r-purp.svg) center no-repeat;
    background-size: auto;
    box-shadow: 0px 4px 8px 0px #0000001A;
    @include circle(50px);
    @include allcenter;
    background-color: #ffffff;
    // position: relative;
    position: absolute;
    top: calc(50% + 16px);

    &:hover {
        background: url(../images/icons/arrow-r-wt.svg) center no-repeat, linear-gradient(105.96deg, #3F0F72 13.07%, #791281 85.2%) !important;
    }

    &.swiper-button-prev {
        left: -25px;
        transform: translateY(-50%) rotate(180deg) !important;

        &.swiper-button-disabled {
            opacity: 1 !important;
            background-color: #ffffff !important;
            background: url(../images/icons/arrow-r-grey.svg) center no-repeat;
        }
    }

    &.swiper-button-next {
        right: -25px;
        transform: translateY(-50%) !important;

        &.swiper-button-disabled {
            opacity: 1 !important;
            background-color: #ffffff !important;
            background: url(../images/icons/arrow-r-grey.svg) center no-repeat;
        }
    }
}

/*footer*/

.footer {
    color: #ffffff;
    padding: 113px 0 41px;
    background: #180d44 url(../images/footer-bg.png) top no-repeat;
    background-size: cover;

    p {
        margin-top: 18px;
        font-family: "Pragmatica-Book";
        font-size: 18px;
        font-weight: 400;
        line-height: 26px;
        color: var(--text-color-grey);
    }
}

.footer__inner {
    padding-bottom: 87px;
}

.footer__col:first-child {
    width: 40%;
    padding-right: 92px;
}

.footer__col:last-child {
    width: 60%;
}

.footer__title {
    font-family: "TTCommons-Bold";
    font-size: 48px;
    font-weight: 700;
    line-height: 45px;
    text-align: left;
}

.footer__contacts-wrap {
    margin-top: 86px;
}

.footer__socials {
    width: 18px;
    transform: rotate(180deg);
    writing-mode: vertical-rl;

    .social-item {
        a {
            font-family: "TTCommons-DemiBold";
            font-size: 16px;
            font-weight: 600;
            line-height: 18.4px;
            color: inherit;
        }

        &:hover a {
            color: var(--body-color-main);
        }

        @include absolut-after(3px, 3px, auto, 8px, -14px);



        &:not(:first-child) {
            margin-top: 28px;
            font-family: "TTCommons-DemiBold";
            font-size: 16px;
            font-weight: 600;
            line-height: 18.4px;
            color: inherit;

            &::after {
                border-radius: 50%;
                background-color: #ffffff;
            }
        }
    }


}

.footer__contacts-inner {
    width: calc(100% - 18px - 29px);
    margin-left: 29px;

}

.footer-contact-item {
    &:not(:first-child) {
        margin-top: 22px;
    }

    .footer-contact-item__title {
        font-family: "Pragmatica-Light";
        font-size: 14px;
        font-weight: 300;
        line-height: 16.74px;
        color: var(--text-color-grey);
    }

    .footer-contact-item__info {
        margin-top: 10px;
        font-family: "TTCommons-Bold";
        font-size: 20px;
        font-weight: 700;
        line-height: 23px;
        color: inherit;

        a {
            color: inherit;
        }
    }
}

.footer__bottom {
    padding-top: 39px;
    border-top: 1px solid rgba(255, 250, 250, .2);
}

.payment-wrap {
    img {
        opacity: 0.3;

        &:hover {
            opacity: 1;
        }
    }

    img:not(:last-child) {
        margin-right: 16px;
    }
}

.footer__text {
    color: var(--text-color-grey);
    font-family: "TTCommons-Regular";
    font-size: 15px;
    font-weight: 400;
    line-height: 17.25px;

    &:not(:first-child) {
        margin-left: 46px;
    }
}

/*input*/
.textarea {
    width: 100%;
}

.input-item {
    display: block;
    position: relative;

    &:not(:first-child) {
        margin-top: 28px;
    }
}

.input-item__input {
    width: 100%;
    padding: 15px 22px;
    font-family: "Pragmatica-Light";
    font-size: 16px;
    font-weight: 300;
    line-height: 19.14px;
    color: #ffffff;
    border: 1px solid #473E69;
    border-radius: 4px;
    background-color: transparent;
    transition: all 300ms;

    ::placeholder {
        color: var(--text-color-grey);
    }
}

.input-item__error,
.input-item__label {
    position: absolute;
    top: -18px;
    left: 0;
    font-family: "Pragmatica-Book";
    font-size: 12px;
    font-weight: 400;
    line-height: 14.23px;
    color: #807D8D;
    user-select: none;
}

.input-item__error {
    position: absolute;
    top: auto;
    bottom: -16px;
    left: auto;
    right: 0;
    width: fit-content;
    height: fit-content;
    color: red;
    font-size: 12px;
    line-height: 14.23px;
}

.input-item__input.error {
    border-color: red
}

.form__bottom {
    margin-top: 31px;
}

.form__consent {
    font-family: "Pragmatica-Book";
    font-size: 12px;
    font-weight: 400;
    line-height: 14.23px;
    color: var(--text-color-grey);
}

.form__btn {
    padding: 22px 41px;
}

.form__checkeboxes {
    margin-top: 28px;

    .input-item {
        display: flex;
        align-items: center;

        &:not(:first-child) {
            margin-top: 19px;
        }
    }

    .input-item__label {
        font-family: "Pragmatica-Light";
        font-size: 15px;
        font-weight: 300;
        line-height: 17.94px;
        color: #ffffff;
    }

    .input-item__error,
    .input-item__label {
        position: relative;
        top: 0;
        left: 0;
    }
}

.custom-checkbox>input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-checkbox>span {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.custom-checkbox>span::before {
    content: '';
    display: inline-block;
    width: 22px;
    height: 22px;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid #473E69;
    border-radius: 4px;
    margin-right: 14px;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-checkbox>input:checked+span::before {
    background: url(../images/icons/checked.svg) center no-repeat;
}

.visible-xs {
    display: none;
}

/*popup*/


@keyframes popupAppearanceAnimation {
    from {
        opacity: 0;
        transform: rotateX(-45deg) rotateY(-45deg) scale(0.3);
    }

    to {
        opacity: 1;
        transform: rotateX(0) rotateY(0) scale(1);
    }
}

.popup {
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
    height: 100%;
    overflow: auto;
    pointer-events: none;
    opacity: 0;
    visibility: visible;
}

.popup.opened {
    pointer-events: auto;
    opacity: 1;
    visibility: visible;
}

.popup.opened .popup__content {
    animation-name: popupAppearanceAnimation;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-fill-mode: both;
}

.popup__wrapper {
    display: table;
    width: 100%;
    height: 100%;
}

.popup__inner {
    display: table-cell;
    vertical-align: middle;
    padding: 50px 0;
}

.popup__content {
    background: white;
    padding: 50px 40px;
    max-width: 450px;
    margin: 0 auto;
    position: relative;
    border-radius: 9px;
}

.popup__title {
    font-family: "TTCommons-Bold";
    text-align: center;
    margin-bottom: 10px;
    font-size: 32px;
    font-weight: 700;
    line-height: 30px;
    color: #180d44;
}

.popup__subtitle {
    font-family: "TTCommons-Regular";
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
    text-align: center;
    color: #292d32;
    margin: 0;
    text-align: center;
}

.btn-close {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    cursor: pointer;
    background: none;
    padding: 0;
    width: 30px;
    height: 30px;
    display: inline-block;

    &::before,
    &::after {
        content: "";
        background: #2d2d2d;
        height: 17px;
        width: 2px;
        position: absolute;
        border-radius: 10px;
        top: 50%;
    }

    &::before {
        -webkit-transform: translateY(-50%) rotate(45deg);
        transform: translateY(-50%) rotate(45deg);
    }

    &::after {
        -webkit-transform: translateY(-50%) rotate(-45deg);
        transform: translateY(-50%) rotate(-45deg);
    }
}





@media screen and (max-width: 414px) {
    .hidden-xs {
        display: none;
    }

    .visible-xs {
        display: block;
    }

    .col-100-xs {
        width: 100% !important;
        max-width: 100% !important;
        margin-right: 0 !important;
    }

    .header__burger {
        display: block;
        width: 30px;
        height: 30px;
        position: relative;
    }

    .burger-line {
        display: block;
        width: 100%;
        height: 2px;
        background-color: #ffffff;
        position: absolute;
        left: 0;
    }

    .burger-line:first-child {
        top: 6px;
    }

    .burger-line:nth-child(2) {
        top: 50%;
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        transform: translateY(-50%);
    }

    .burger-line:last-child {
        bottom: 6px;
    }

    .menu-wrap {
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        background: linear-gradient(105.96deg, #3F0F72 13.07%, #791281 85.2%);
        z-index: 10;
        padding: 80px 40px 50px;
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
        -webkit-transition: 0.2s all linear;
        -o-transition: 0.2s all linear;
        transition: 0.2s all linear;
    }

    .menu-wrap.menu-active {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }

    .menu-wrap__inner {
        padding: 40px 0;
        justify-content: center;
    }

    .menu-item {
        margin-right: 0;
        display: flex;
        justify-content: center;
    }

    .menu-item:not(:first-child) {
        margin-top: 20px;
    }

    .menu-list {
        flex-direction: column;
    }

    .header__contacts-wrap {
        border-top: 1px solid var(--text-color-grey);
        padding-top: 30px;
    }

    .header-contact-item {
        margin-right: 0;
    }

    .email-wrap {
        margin-top: 20px;
    }

    .header-close {
        width: 30px;
        height: 30px;
        position: absolute;
        top: 26px;
        right: 20px;
        z-index: 11;
        cursor: pointer;
    }

    .close-line {
        display: block;
        width: 100%;
        height: 1px;
        background-color: #ffffff;
        position: absolute;
        top: 50%;
    }

    .close-line:first-child {
        -webkit-transform: translateY(-50%) rotate(45deg);
        -ms-transform: translateY(-50%) rotate(45deg);
        transform: translateY(-50%) rotate(45deg);
    }

    .close-line:last-child {
        -webkit-transform: translateY(-50%) rotate(-45deg);
        -ms-transform: translateY(-50%) rotate(-45deg);
        transform: translateY(-50%) rotate(-45deg);
    }

    /* burger-end */
    .container {
        padding: 0 16px;
    }

    .header {
        padding: 20px 0;
    }

    .section-top {
        background: #180d44 url(../images/top-bg.png) center no-repeat;
        background-size: cover;
        padding-top: 82px;
    }

    .section-top__inner {
        padding: 60px 0;
        max-width: 100%;
    }

    .section-top__info {
        font-size: 16px;
        line-height: 24px;
        margin-bottom: 20px;
    }

    .section-top__title {
        font-size: 40px;
        line-height: 46px;
        max-width: 90%;
    }

    .btn {
        font-size: 15px;
        line-height: 15px;
        padding: 20px 40px;
    }

    .section-top__btn {
        margin-top: 46px;
    }

    .section-top__bottom {
        padding: 26px 0;
        justify-content: flex-start;

        p {
            margin-right: 12px;
        }

    }

    .section-top__bottom img:not(:first-of-type) {
        margin-left: 6px;
    }

    .section {
        padding: 50px 0;
    }

    .title,
    .footer__title {
        font-size: 34px;
        line-height: 31px;
    }

    .section-about__text {
        margin: 16px 0 20px;
    }

    .section-about__text p:first-child {
        font-size: 18px;
        line-height: 26px;

    }

    .section-about__text p:first-child {
        font-size: 18px;
        line-height: 26px;
    }

    body {
        font-size: 14px;
        line-height: 22px;
    }

    .col-50 {
        width: calc((100% - 16px) / 2);
    }

    .col-50:first-child {
        margin-right: 16px;
    }

    .section-about__col.col-50.section-about__pic-wrap {
        margin-top: 16px;
    }

    .subtitle {
        font-size: 15px;
        line-height: 20px;
        max-width: 96%;
        margin: 10px auto 0;

    }

    .service-item {
        padding: 16px;
        border-radius: 9px;
        width: calc((100% - 16px) / 2);
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

    .service-item .service-item__pic-wrap {
        width: 50px;
        height: 50px;
        padding: 10px;
        margin-right: 0;
    }

    .service-item:not(:nth-child(4n)) {
        margin-right: unset
    }

    .service-item:not(:nth-child(2n)) {
        margin-right: 16px;
    }

    .service-item:nth-child(n+5) {
        margin-top: unset;
    }

    .service-item:nth-child(n+3) {
        margin-top: 16px;
    }

    .service-item .service-item__name {
        width: 100%;
        text-align: center;
        margin-top: 10px;
        font-size: 14px;
        line-height: 20px;
    }

    .section__inner {
        margin-top: 24px;
    }

    .publications-slide__title {
        font-size: 20px;
        ;
    }

    .publications-slide__text {
        margin: 11px 0 16px;
        font-size: 14px;
        line-height: 22px;
    }

    .publications-slide__bottom-wrap {
        padding: 20px;
        min-height: 230px;
    }

    .swiper-button.swiper-button-next {
        right: -16px;
    }

    .swiper-button.swiper-button-prev {
        left: -16px;
    }

    .swiper-button {
        width: 46px;
        height: 46px;
    }

    .publications-slide__pic {
        height: 240px;

    }

    .publications-slide__info {
        padding-top: 16px;
    }

    .footer {
        padding: 50px 0 26px;
    }

    .footer__col:first-child {
        padding-right: 0;
    }

    .footer p {
        font-size: 16px;
        line-height: 24px;
    }

    .footer__contacts-wrap {
        margin-top: 67px;
    }

    .form__btn {
        margin-top: 26px;
    }

    .footer__col {
        display: contents;
    }

    .footer__title-wrap {
        order: 1;
    }

    .footer__contacts-wrap {
        order: 3;
    }

    .footer__form-wrap {
        order: 2;
        margin-top: 30px;
    }

    .form__checkeboxes {
        margin-top: 20px;
    }

    .footer-contact-item .footer-contact-item__info {
        margin-top: 8px;
        font-size: 18px;
        line-height: 23px;
    }

    .footer__inner {
        padding-bottom: 57px;
    }

    .footer__bottom {
        padding-top: 26px;
        border-top: 1px solid rgba(255, 250, 250, 0.2);
    }

    .footer__text:not(:first-child) {
        margin-left: 0;
        margin-top: 6px;
    }

    .footer__text-wrap {
        margin-top: 4px;
    }

    .payment-wrap img:not(:last-child) {
        margin-right: 10px;
    }

    .payment-wrap img {
        margin-bottom: 10px;
    }

    .footer__contacts-inner {
        margin-left: 24px;
    }

    .popup__content {
        max-width: 94%;
    }
}